#Açacağınız database için gerekli şifre yerleri postgresql için hazırlandı gerçek dosyanın ismini .env olarak değiştirip kullanın


SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
DB_NAME=eczane_db
DB_USER=eczane_user
DB_PASSWORD=eczane_password
DB_HOST=db
DB_PORT=5432
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin_password



# MAİL AYARLARI 
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=xxx@gmail.com
EMAIL_HOST_PASSWORD=password from google  #Googleden şifre aldık   

# CLOUDFLARE TUNNEL
CLOUDFLARE_TUNNEL_TOKEN=ey... # Cloudflare Zero Trust panosundan aldığınız token